body{
    background-color:cornsilk;
}
h1{
    color: blueviolet;
}
div{
    background-color: deeppink;
p{
    font-family: verdana;
  font-size: 20px;
  color:darkslateblue;
  text-align: center;
  background-color: lightblue;
}